

.boroughBtn {
    text-align: center;
  }
  .button{
      background:#ffc0cb  ;
      font-family: fantasy;
      font-weight: bolder;
  }
  body{
      background: pink;
      font-family: fantasy;
  }

